
body{
    font-size: 16px;
    line-height: 22px;
    color: #333;
}

/* ========================= header ========================= */
header{

}
header:after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #f1f1f1;
    right: 0;
}
/* ========================= topbar ========================= */

/* ========================= content ========================= */
.content{
    background: #effbfa;
}
.content p{
    font-size: 18px;
    line-height: 28px;
}

/* ========================= footer ========================= */
footer{
    background: #6f8e8b;
}


@media screen and (max-width:480px){
    h1{
        font-size: 20px !important;
        line-height: 26px !important;
    }
    .content strong{
        font-size: 14px;
        line-height: 20px;
    }
    .content p {
        font-size: 16px;
        line-height: 26px;
    }
    .content p.mt-3{
        font-size: 14px;
        line-height: 20px;
    }
}